body {
    margin: 0px;
    color: white;
    font-family: 'Dosis', sans-serif;
}
.intro {
    display: inline-block;
    background-image: url("leaf.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0px;
    top: 0px;
    left: 0px;
}
.prog {
    display: inline-block;
    background-color: #131418;
    height: 100vh;
    width: 100%;
    margin: 0px;
}
.model {
    display: inline-block;
    background-color: #e67e22;
    height: 100vh;
    width: 100%;
    margin: 0px;
}
.content {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
}
.title {
    border-style: solid;
    display: inline-block;
    border-width: 0px 0px 0px 10px;
    border-color: white;
    padding-left: 10px;
    width: 200px;
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
    text-align: left;
}
img {
    display: inline-block;
    position: relative;
    top: calc(10vh - 150px);
    float: right;
    width: 300px;
    height: auto;
    margin: 10px 0px 0px 0px;
}
